<!--Note: Using this repo : https://github.com/dikshapadi/Too-Good-To-Go/blob/main/views/auth/login.ejs as a guide to understand how to setup project & using my template from my CRUD version -->
<%- include('partials/header') -%>
<div class="container mt-5">
  <a href="/logout" class="btn btn-danger float-end">Logout</a>
    <ul class="list-unstyled">
    <h1>POTS & PANS CHEER COMING YOUR WAY!</h1>
    <% for (var i=0; i<posts.length; i++) {%>
      <li class="border border-danger">
        <div>
         <a href="/post/<%= posts[i]._id%>" class="text-danger h4">View</a>
        </div>
        <div>
        <span class = "h6">Hospital Name:</span>
        <span class="text-2xl h6"><%= posts[i].org %></span>
        </div>
        <div>
        <span class = "h6">Item:</span>
        <span class="text-2xl h6"><%= posts[i].item %></span>
        </div>
        <div>
        <span class = "h6">Description:</span>
        <span class="text-2xl h6"><%= posts[i].description %></span>
        </div>
          <div>
        <span class = "h6">Note:</span>
        <span class="text-2xl h6"><%= posts[i].note %></span>
        </div>
        <div>
        <span class = "h6">Delivery Date:</span>
        <span class="text-2xl h6"><%= posts[i].deliveryDate %></span>
        </div>
         <div>
        <span class = "h6">Delivery Time:</span>
        <span class="text-2xl h6"><%= posts[i].deliveryTime %></span>
        </div>
      </li>
        <% } %>
      </ul>

<div>
      <div class="col-6 mt-5">
      <!--<a class="btn btn-danger" href="/profile">Return to Profile</a>-->
      <a class="btn btn-danger" href="/profile">Donate</a>
    </div>

<%- include('partials/footer') -%>